[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = git://github.com/gorilla/context
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = git://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = git://github.com/gorilla/websocket
[submodule "vendor/github.com/rcrowley/go-metrics"]
	path = vendor/github.com/rcrowley/go-metrics
	url = git://github.com/rcrowley/go-metrics
